# Copy this file to credentials.env and fill in values before deploying.
# These variables are passed to the physrisk-api container.

OSC_S3_BUCKET=os-climate-physical-risk
# OSC_S3_ACCESS_KEY=your-access-key
# OSC_S3_SECRET_KEY=your-secret-key
OSC_S3_ENDPOINT=https://s3.us-east-1.amazonaws.com
PHYSRISK_JWT_SECRET=<Physrisk secret for generating JWT>
PHYSRISK_API_KEYS={"<Physrisk API key for UI and API>": ["jba/api"]}
JBA_PROD_TOKEN=<single API token>
JBA_VISION_USERNAME=<JBA username>
JBA_VISION_PASSWORD=<JBA password>


